<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Thanks for your time!</h3>

    <form action="/seereviews/{{ restid }}" method="get">
      <input type="hidden" name="restid" value="{{ restid }}">
      <button type="submit">Check all reviews</button>
    </form>

  </body>
</html>
